@tailwind base;
@tailwind components;
@tailwind utilities;

.headerBG {
    background: url('/headerBG.jpeg') no-repeat;
    color: #fff;
    height: 100%;
    padding: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width: 768px) {
    .headerBG {
        padding: 10rem;
    }
}

/* Media query for phones */
@media (max-width: 480px) {
    .headerBG {
        padding: 6rem;
    }
}

.w-30vw {
    width: 30vw;
}

.middleContent {
    background-image: url('../public/header.png');
    background-repeat: no-repeat;
    background-size: cover;


}

.shadowDrop {
    filter: drop-shadow(2px 4px 6px black)
}

.horizontal-line {
    display: inline-block;
    border-bottom-width: 2px;
    width: 50vw;
    margin-bottom: -6px;
}

.vertical-line {
    display: inline-block;
    border-right-width: 2px;
    width: 50vw;
    height: 4rem;
    margin-bottom: -30px;
}

.glass {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass2 {
    background: rgba(40, 130, 171, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(40, 130, 171, 0.25);
}

.shadowFilter {
    filter: drop-shadow(2px 4px 6px black);
}