@tailwind base;
@tailwind components;
@tailwind utilities;

.headerBG {
    background: url('/headerBG.jpeg') no-repeat;
    color: #fff;
    height: 100%;
    padding: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

/* Media query for tablets */
@media (max-width: 768px) {
    .headerBG {
        padding: 10rem;
        /* Adjust the padding for tablets */
    }
}

/* Media query for phones */
@media (max-width: 480px) {
    .headerBG {
        padding: 6rem;
        /* Adjust the padding for phones */
    }
}

.w-30vw {
    width: 30vw;
}

.middleContent {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0 255.35L10 281.37L20 298.21L30 247.91L40 202.26L50 174.78L60 239.75L70 285.13L80 216.01L90 177.04L100 151.12L110 97.36L120 66.58L130 15.51L140 33.37L150 63.67L160 9.93L170 2.11L180 7.75L190 72.9L200 54.68L210 9.04L220 48.25L230 28.11L240 77.9L250 144.5L260 168.28L270 216.71L280 198.79L290 265L300 262.15L310 210.8L320 204.29L330 184.95L340 172.51L350 151.94L360 88.83L370 39.04L380 20.68L390 71.56L400 40.22L410 35.78L420 104.68L430 96.6L440 151.66L450 187.63L460 121.14L470 165.74L480 226.53L490 199.38L500 247.17L510 244.04L520 239.74L530 221.15L540 202.35L550 212.79L560 275.93L570 214.33L580 224.47L590 248.36L600 263.84L610 309.15L620 318.42L630 342.04L640 396.93L650 439.64L660 501.54L670 482.7L680 441.77L690 416.25L700 453.62L710 466.93L720 493.63L730 507.79L740 510.24L750 499.37L760 459.15L770 439.72L780 418.23L790 449.02L800 410.38L810 428.43L820 390.91L830 367.51L840 342.39L850 368.38L860 314.66L870 251.51L880 190.52L890 235.16L900 267.25L910 287.24L920 340.23L930 309.55L940 376.25L950 441.98L960 448.38L970 506.7L980 439.4L990 374.14L1000 307.41L1010 284.22L1020 320.83L1030 286.87L1040 282.74L1050 269.38L1060 280.26L1070 247.04L1080 277.63L1090 295.44L1100 265.66L1110 297.52L1120 298.28L1130 247.28L1140 306.28L1150 281.37L1160 311.75L1170 286.5L1180 263.58L1190 253.44L1200 318.97L1210 256.05L1220 259.95L1230 307.29L1240 283.04L1250 340.98L1260 312.9L1270 272.69L1280 259.3L1290 252.85L1300 245.77L1310 305.86L1320 371.07L1330 358.3L1340 382.24L1350 335.27L1360 395.59L1370 336.32L1380 388.73L1390 435.21L1400 383.36L1410 346.18L1420 363.27L1430 415.95L1440 394.91' stroke='%23224b75' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 255.35L10 281.37L20 298.21L30 247.91L40 202.26L50 174.78L60 239.75L70 285.13L80 216.01L90 177.04L100 151.12L110 97.36L120 66.58L130 15.51L140 33.37L150 63.67L160 9.93L170 2.11L180 7.75L190 72.9L200 54.68L210 9.04L220 48.25L230 28.11L240 77.9L250 144.5L260 168.28L270 216.71L280 198.79L290 265L300 262.15L310 210.8L320 204.29L330 184.95L340 172.51L350 151.94L360 88.83L370 39.04L380 20.68L390 71.56L400 40.22L410 35.78L420 104.68L430 96.6L440 151.66L450 187.63L460 121.14L470 165.74L480 226.53L490 199.38L500 247.17L510 244.04L520 239.74L530 221.15L540 202.35L550 212.79L560 275.93L570 214.33L580 224.47L590 248.36L600 263.84L610 309.15L620 318.42L630 342.04L640 396.93L650 439.64L660 501.54L670 482.7L680 441.77L690 416.25L700 453.62L710 466.93L720 493.63L730 507.79L740 510.24L750 499.37L760 459.15L770 439.72L780 418.23L790 449.02L800 410.38L810 428.43L820 390.91L830 367.51L840 342.39L850 368.38L860 314.66L870 251.51L880 190.52L890 235.16L900 267.25L910 287.24L920 340.23L930 309.55L940 376.25L950 441.98L960 448.38L970 506.7L980 439.4L990 374.14L1000 307.41L1010 284.22L1020 320.83L1030 286.87L1040 282.74L1050 269.38L1060 280.26L1070 247.04L1080 277.63L1090 295.44L1100 265.66L1110 297.52L1120 298.28L1130 247.28L1140 306.28L1150 281.37L1160 311.75L1170 286.5L1180 263.58L1190 253.44L1200 318.97L1210 256.05L1220 259.95L1230 307.29L1240 283.04L1250 340.98L1260 312.9L1270 272.69L1280 259.3L1290 252.85L1300 245.77L1310 305.86L1320 371.07L1330 358.3L1340 382.24L1350 335.27L1360 395.59L1370 336.32L1380 388.73L1390 435.21L1400 383.36L1410 346.18L1420 363.27L1430 415.95L1440 394.91L1440 560L0 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1009%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1009'%3e%3cstop stop-opacity='0.65' stop-color='%23224b75' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23508dcc' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.shadowDrop {
    filter: drop-shadow(2px 4px 6px black)
}

.horizontal-line {
    display: inline-block;
    border-bottom-width: 2px;
    width: 50vw;
    margin-bottom: -6px;
}

.vertical-line {
    display: inline-block;
    border-right-width: 2px;
    width: 50vw;
    height: 4rem;
    margin-bottom: -30px;
}

.glass {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}